.estructura {
  display: flex;
  flex-wrap: wrap;
  width: 99vw; }

.accordion-button {
  background-color: #cdcdcd;
  width: 100%; }

.h1-entradas {
  width: 99vw;
  display: flex;
  justify-content: center; }

.aside-entradas1 {
  margin-left: 2%;
  margin-top: 2%;
  font-size: medium;
  width: 15%;
  text-align: center;
  font-weight: bold; }

.aside-entradas2 {
  font-size: small;
  width: 20%; }

.img-top {
  grid-area: top;
  width: 100%; }

.img-mb {
  width: 50%; }

.mk-ariel {
  width: 100%; }

.ayuda-entradas {
  margin-top: 20px;
  font-weight: bold; }

.entradas_descripcion {
  width: 60%;
  margin: 1%; }

.acordeon-body {
  border: 1px gray solid;
  border-radius: 7px;
  padding: 2%; }
  .acordeon-body .h5-concepto {
    font-weight: bold; }
  .acordeon-body .acordeon-p {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .acordeon-body .acordeon-p .span-p {
      font-weight: bold;
      font-size: larger; }
    .acordeon-body .acordeon-p .logo-mk {
      width: 15%; }

.compra-descripcion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
  background-color: #afe0ff;
  padding-left: 1%; }

.compra-hs {
  background-color: #e85a5a;
  color: white; }

.img-compra {
  height: 10vw; }

.h6-compra {
  width: 100px; }

.p-compra {
  width: 200px; }

.card-width {
  margin-left: 2% !important;
  margin-right: 2% !important;
  padding: 1%; }

.icono-carr {
  width: 9%; }

.btn-carrito {
  width: 11vw;
  height: 2vw;
  background-color: #0303cc;
  color: white;
  border: solid white 1px;
  border-radius: 9px; }

.btn-carrito:hover {
  text-decoration: underline 1px; }

.text-compra {
  position: absolute;
  max-width: 18vw;
  color: white;
  font-size: x-large;
  text-align: center;
  padding-top: 15vw;
  text-shadow: black 2px 3px 2px; }

.text-compra-p {
  position: absolute;
  padding-top: 16.2vw;
  width: 18vw;
  color: white;
  font-size: medium;
  text-align: center;
  text-shadow: black 2px 2px 2px; }

.grid-container-2 {
  display: grid;
  grid-template-areas: "MK EP HS" "AK X3 X5";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2%;
  max-width: 100%;
  height: 45vw;
  margin: 3%; }
  .grid-container-2 .grid-item-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: gray;
    width: 18vw;
    height: 18vw; }
    .grid-container-2 .grid-item-2 #MK-compra {
      grid-area: MK;
      width: 18%; }
    .grid-container-2 .grid-item-2 #EP-compra {
      grid-area: EP; }
    .grid-container-2 .grid-item-2 #HS-compra {
      grid-area: HS; }
    .grid-container-2 .grid-item-2 #AK-compra {
      grid-area: AK; }
    .grid-container-2 .grid-item-2 #pack-3 {
      grid-area: X3; }
    .grid-container-2 .grid-item-2 #pack-5 {
      grid-area: X5; }

.h5-ad {
  text-align: center; }

.img-grid {
  width: 18vw;
  height: 18vw; }

.carousel-noticias {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw; }

#carouselExampleDark {
  margin-top: 1%; }

.car-noti {
  width: 100vw; }

.tickets-disney {
  width: 100vw; }

.col-sm-8 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.col-sm-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.row-n {
  background-color: rgba(230, 230, 230, 0.7);
  margin-top: 7px;
  border: dotted 1px;
  border-color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.col-sm {
  height: 5%; }

.imgs-noticias {
  max-height: 15vw; }

.img-noti1 {
  width: 50vw; }

.h-noti {
  font-weight: bold; }

.div_mdw {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 2%; }

.ingreso-h4 {
  display: flex;
  justify-content: center;
  margin-top: 2%; }

.form-ingreso {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
  margin: 2%; }

.form-label {
  width: 20vw; }

.only-o {
  display: flex;
  justify-content: center; }

.col-md-3 {
  display: flex;
  flex-direction: column; }

.help-text {
  font-size: x-small; }

.mdw-logo {
  width: 15vw; }

.form-p {
  display: flex;
  align-items: center;
  justify-content: center; }

.div-hoteles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw; }

.card {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 1%;
  margin-right: 5%; }

.h2-hoteles {
  display: flex;
  justify-content: center;
  margin-top: 2%; }

.a-card {
  color: black;
  text-decoration: none; }

.a-card:hover {
  font-weight: bold; }

.img-card-hoteles {
  width: 20vw; }

.div-parques {
  display: flex;
  flex-direction: column;
  align-items: center; }

.img-mk {
  width: 100%; }

.mk-pk {
  max-width: 25%; }

.map-mk {
  padding: 1%; }

.cardpk {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1%;
  padding: 1%;
  justify-content: space-between;
  width: 70%;
  border-radius: 20px;
  color: white; }

.pkmk {
  background-color: rgba(76, 193, 201, 0.723); }

.top-banner {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; }

.h1-mk {
  margin-top: 2%; }

.btn-pk-tk {
  border: solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: large;
  font-weight: bold; }

.btn-pk-tk:hover {
  border: solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: larger;
  font-weight: bold; }

.h1-ak {
  margin-top: 2%; }

.pkak {
  background-color: rgba(48, 134, 81, 0.723); }

.footer {
  grid-area: footer;
  background-color: #1c468e;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1%;
  justify-content: space-around; }

.footer_ul-parques {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  color: white;
  font-size: small; }

.footer_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  color: white;
  width: 300px; }

.footer_legales {
  text-align: center;
  color: white;
  font-size: x-small; }

.footer_list {
  color: white;
  text-decoration: none; }

.footer_list:hover {
  font-weight: bold; }

.footer_redes {
  display: flex;
  justify-content: center;
  list-style-type: none;
  color: white;
  font-size: small; }

.footer_rrss {
  width: 45px;
  margin: 4px; }

.redes-logos {
  display: flex;
  align-items: center; }

.h5-redes {
  width: 200px;
  text-align: center;
  align-items: center; }

.container-fluid {
  flex-wrap: nowrap !important; }

.logo-white {
  width: 20%; }

.form-control {
  background-color: white; }

.form-control:not(:active) {
  background-color: white; }

.form-control:active {
  background-color: white; }

.logo-mdw-nav {
  width: 25%; }

.logo-mdw-nav:hover {
  width: 24%; }

.nav-link:hover {
  font-weight: bold; }

.animate_mdw_logo {
  animation-name: rueda_mdw;
  animation-iteration-count: infinite;
  animation-duration: 7s; }

@keyframes rueda_mdw {
  0% {
    translate: 0;
    rotate: 0deg; }
  25% {
    translate: 0;
    rotate: 180deg; }
  50% {
    translate: 0px;
    rotate: 365deg; }
  75% {
    translate: 0;
    rotate: 180deg; }
  100% {
    translate: 0;
    rotate: 0deg; } }

@keyframes rotatein {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0deg); } }

* {
  margin: 0;
  padding: 0;
  font-family: disney-font; }

ul {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: disney-font;
  src: url(../fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf); }

@font-face {
  font-family: Walt-Disney;
  src: url(../fonts/waltograph/waltograph42.otf); }

@font-face {
  font-family: magic-kingdom;
  src: url(../fonts/enchanted_land/Enchanted_Land.otf); }

@font-face {
  font-family: animal-kingdom;
  src: url(../fonts/rodfat/Rodfat.ttf); }

.carousel-caption {
  font-weight: bold;
  font-size: medium; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.form-input {
  margin: 5px; }

.form-btn {
  max-width: 150px; }

.form-h5 {
  margin: 10px; }

.grid-container {
  display: grid;
  grid-template-areas: "title title title" "parques parques parques" "entradas entradas entradas" "hoteles hoteles planes" "noticias noticias mdw";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0px; }

.grid-item {
  padding: 0px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  justify-content: center; }

#title {
  grid-area: title;
  margin: 10px;
  display: flex;
  justify-content: center; }

#parques {
  grid-area: parques; }

#entradas {
  grid-area: entradas; }

#hoteles {
  grid-area: hoteles; }

#planes {
  grid-area: planes; }

#noticias {
  grid-area: noticias; }

#mdw {
  grid-area: mdw; }

.img-hote {
  width: 49vw; }

.img-plan {
  width: 49vw; }

.img-entr {
  width: 98vw; }

.img-parc {
  width: 98vw; }

.img-mdw {
  width: 20vw; }

.card-index {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

h1 {
  font-family: Walt-Disney; }

.titulos-index {
  position: absolute;
  width: 98vw;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 17%;
  text-shadow: black 2px 2px 2px; }

.titulos-index-v2 {
  position: absolute;
  width: 50vw;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 17%;
  text-shadow: black 2px 2px 2px; }

.titulos-index:hover {
  position: absolute;
  width: 98vw;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin-top: 17%; }

.titulos-index-v2:hover {
  position: absolute;
  width: 50vw;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 17%;
  font-weight: bold; }

.rotatein:hover {
  animation: rotatein 2s; }

.card-plan-mk {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2%;
  border: solid #4856c5 1px;
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
  background-color: #c1dcfe; }

.card-plan-ak {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2%;
  border: solid #4d8755 1px;
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
  background-color: #86ba86; }

.h4-planes {
  font-family: magic-kingdom;
  font-size: 5vw;
  color: #117db4;
  text-align: center; }

.h4-planes-ak {
  font-family: animal-kingdom;
  font-size: 3vw;
  color: #487d48;
  text-align: center; }

.rest-mk {
  width: 20%; }

.btn-menu-mk {
  width: 9vw;
  background-color: #117db4;
  border-radius: 9px;
  border: solid white 1px;
  color: white; }

.btn-menu-ak {
  width: 9vw;
  background-color: #487d48;
  border-radius: 9px;
  border: solid white 1px;
  color: white; }

.btn-menu-mk:hover {
  font-weight: bold;
  background-color: #0d6895; }

.btn-menu-ak:hover {
  font-weight: bold;
  background-color: #256025; }

.rest-descr {
  display: flex;
  width: 30vw;
  flex-direction: column;
  justify-content: center; }

.title-rest {
  font-weight: bold; }

.icn-rest {
  width: 1vw; }

.list-rest-item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 2vw;
  justify-content: space-between;
  padding: 1%;
  border-radius: 5px; }

hr {
  width: 90vw; }

.ul-rest-list {
  border: dotted #117db4 1px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.p-descr-rest {
  width: 40vw; }

.rest-map {
  width: 20vw; }

@media (max-width: 421px) {
  .cardpk {
    width: 95%; }
  .map-mk {
    max-width: 90%; }
  .footer {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-evenly; }
  .footer_div {
    width: fit-content; }
  .footer-li-mq {
    display: none; }
  .h5-redes {
    display: none; }
  .card-text-hide {
    display: none; }
  .img-mdw-card {
    display: none; }
  .p-compra {
    display: none; }
  .h5-exp-disney {
    font-size: x-small; }
  .text-compra-p {
    display: none;
    padding-top: 14vw; }
  .btn-carrito {
    font-size: x-small; }
  .text-compra-p {
    display: none; } }

@media (max-width: 1115px) {
  .text-compra {
    font-size: small;
    padding-top: 10vw; }
  .img-mb {
    display: none; }
  .text-compra-p {
    font-size: smaller;
    padding-top: 14vw; }
  .btn-carrito {
    font-size: smaller; }
  .btn-aside {
    font-size: smaller; }
  .text-body-secondary {
    display: none; }
  .rest-map {
    display: none; }
  .list-rest-item {
    width: 70vw;
    padding: 2%; }
  hr {
    width: 50%; }
  .title-rest {
    font-size: small; }
  .p-descr-rest {
    display: none; }
  .btn-mq-rest {
    font-size: smaller;
    width: 30vw; }
  .rest-descr {
    width: 50vw; } }
