* {
    margin: 0;
    padding: 0;
    font-family: disney-font;
}

@font-face {
    font-family: disney-font;
    src: url(../fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf);
}

@import "./utilities/entradas";
@import "./utilities/noticias";
@import "./utilities/my-disney-world";
@import "./utilities/hoteles";
@import "./utilities/parques";
@import "./utilities/footer";
@import "./utilities/mediaquerys";
@import "./utilities/nav";
@import "./utilities/animaciones";

.carousel-caption {
    font-weight: bold;
    font-size: medium;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    margin: 5px;
}

.form-btn {
    max-width: 150px;
}

.form-h5 {
    margin: 10px;
}

//index

.grids-index {
    display: grid;
    grid-template-areas:
        "parques parques parques"
        "entradas entradas entradas"
        "hoteles planes planes"
        "noticias noticias mdw"
    ;
    width: 100%;
    align-items: center;
    justify-content: center;

    .div_parques {
        grid-area: parques;
        width: 100%;
    }

    .div_entradas {
        grid-area: entradas;
        width: 100%;
    }

    .div_hoteles {
        grid-area: hoteles;
        display: flex;
        width: 35vw;
        justify-content: end;
    }

    .div_planes {
        grid-area: planes;
        width: 55vw;
    }

    .div_noticias {
        grid-area: noticias;
        width: 55vw;
    }

    .div_mdw {
        grid-area: mdw;
        width: 35vw;
        .card-index{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: 1px solid gray;
            border-radius: 15px;
            padding: 2%;
        }        
    }

}

.img-100{
    width: 100%;
}

.img-mdw-card{
    width: 70%;
}

.img-75{
    width: 30%;
}

.img-hoteles{
    width: 110%;
    overflow: hidden;
}

.img-plan{
    width: 70%;
    height: 100%;
}

//INDEX_H1


.section_h1{
    position: absolute;
    color: white;
    width: 92%;
    display: flex;
    justify-content: center;
}

.section_h1_f2{
    position: absolute;
    color: black;
    width: 35%;
    display: flex;
    justify-content: center;
}

.section_h1_p2{
    position: absolute;
    color: white;
    width: 35%;
    display: flex;
    justify-content: center;
}

.section_h1:hover{
    font-weight: bold;
    color: white;
}

.section_h1_p2:hover{
    font-weight: bold;
    color: white;
}

.section_h1_f2:hover{
    font-weight: bold;
    color: black;
}
