.estructura{
    display: flex;
    flex-wrap: wrap;
    width: 99vw;
}

.accordion-button{
    background-color: rgb(205, 205, 205);
    width: 100%;
}

.h1-entradas{
    width: 99vw;
    display: flex;
    justify-content: center;
}

.aside-entradas1{
    margin-left: 2%;
    margin-top: 2%;
    font-size: medium;
    width: 15%;
    text-align: center;
    font-weight: bold;
}

.aside-entradas2{
    font-size: small;
    width: 20%;
}

.img-top{
    grid-area: top;
    width: 100%;
}

.img-mb{
    width: 50%;
}

.mk-ariel{
    width: 100%;
}

.ayuda-entradas{
    margin-top: 20px;
    font-weight: bold;
}

.entradas_descripcion{
    width: 60%;
    margin: 1%;
}

.acordeon-body{
    border: 1px gray solid;
    border-radius: 7px;
    padding: 2%;
    .h5-concepto{
        font-weight: bold;
    }
    .acordeon-p{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .span-p{
            font-weight: bold;
            font-size: larger;
        }
        .logo-mk{
            width: 15%;
        }
    }
}

.compra-descripcion{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    background-color:rgb(175, 224, 255);
    padding-left: 1%;
}

.compra-epcot{
    background-color: rgb(219, 219, 219) ;
}

.btn-compra-ep{
    background-color: rgb(151, 151, 151);
    color: white;
}

.btn-compra-ep:hover{
    background-color: rgb(126, 126, 126);
    color: white;
}

.compra-hs{
    background-color: rgb(232, 90, 90);
    color: white;
}

.img-compra{
    height: 10vw;
}

.h6-compra{
    width: 100px;
}

.p-compra{
    width: 200px;
}

.card-width{
    margin-left: 2% !important;
    margin-right: 2% !important;
    padding: 1%;
}

.icono-carr{
    width: 9%;
}

.btn-carrito{
    width: 11vw;
    height: 2vw;
    background-color: rgb(3, 3, 204);
    color: white;
    border: solid white 1px;
    border-radius: 9px;
}

.btn-carrito:hover{
    text-decoration: underline 1px;
}

.text-compra{
    position: absolute;
    max-width: 18vw;
    color: white;
    font-size: x-large;
    text-align: center;
    padding-top: 15vw;
    text-shadow: black 2px 3px 2px;
}

.text-compra-p{
    position: absolute;
    padding-top: 16.2vw;
    width: 18vw;
    color: white;
    font-size: medium;
    text-align: center;
    text-shadow: black 2px 2px 2px;
}

.grid-container-2{
    display: grid;
    grid-template-areas: 
    "MK EP HS"
    "AK X3 X5" ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2%;
    max-width: 100%;
    height: 45vw;
    margin: 3%;

    .grid-item-2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: gray;
        width: 18vw;
        height: 18vw;

        #MK-compra{
            grid-area: MK;
            width: 18%;
        }
        
        #EP-compra{
            grid-area: EP;
        }
        
        #HS-compra{
            grid-area: HS;
        }
        
        #AK-compra{
            grid-area: AK;
        }
        
        #pack-3{
            grid-area: X3;
        }
        
        #pack-5{
            grid-area: X5;
        }
        
    }}

.h5-ad{
    text-align: center;
}

.img-grid{
    width: 18vw;
    height: 18vw;
}
