.img-top-htl{
    width: 100%;
}

.div-hoteles{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h2-hoteles{
    text-align: center;
}

.card-hoteles{
    display: flex;
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 3vw;  
}

.card-title-htl{
    padding-top: 2vw;
}

.card-header{
    background-color: rgb(193, 225, 250);
}

.img-htl-card{
    width: 50%;
}

.hr-htl{
    width: 95%;
    justify-content: center;
    margin: 2%;
}