.div-hoteles{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.card{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 1%;
    margin-right: 5%;
    
}

.h2-hoteles{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.a-card{
    color: black;
    text-decoration: none;
}

.a-card:hover{
    font-weight: bold;
}

.img-card-hoteles{
    width: 20vw;
}