* {
    margin: 0;
    padding: 0;
    font-family: disney-font;
}

ul{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: disney-font;
    src: url(../fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf);
}

@font-face{
    font-family: Walt-Disney;
    src: url(../fonts/waltograph/waltograph42.otf);
}

@font-face{
    font-family: magic-kingdom;
    src: url(../fonts/enchanted_land/Enchanted_Land.otf);
}

@font-face{
    font-family: animal-kingdom;
    src:url(../fonts/rodfat/Rodfat.ttf);
}

.carousel-caption {
    font-weight: bold;
    font-size: medium;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    margin: 5px;
}

.form-btn {
    max-width: 150px;
}

.form-h5 {
    margin: 10px;
}

//index

.grid-container {
    display: grid;
    grid-template-areas: 
    "title title title"
    "parques parques parques"
    "entradas entradas entradas"
    "hoteles hoteles planes"
    "noticias noticias mdw"
    ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0px;
  }
  
  .grid-item {
    padding: 0px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    justify-content: center;
  }
  
  #title {
    grid-area: title;
    margin: 10px;
    display: flex;
    justify-content: center;
  }
  
  #parques {
    grid-area: parques;
  }
  
  #entradas {
    grid-area: entradas;
  }
  
  #hoteles {
    grid-area: hoteles;
  }
  
  #planes {
    grid-area: planes;
  }
  
  #noticias {
    grid-area: noticias;
  }
  
  #mdw {
    grid-area: mdw;
  }

//IMAGENES

.img-hote{
    width: 49vw;
}
.img-plan{
    width: 49vw;
}

.img-entr{
    width: 98vw;
}

.img-parc{
    width: 98vw;
}

.img-mdw{
    width: 20vw;
}

//CARD

.card-index{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//TEXTOS-INDEX

h1{
    font-family: Walt-Disney;
}

.titulos-index{
    position: absolute;
    width: 98vw;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 17%;
    text-shadow: black 2px 2px 2px;
}

.titulos-index-v2{
    position: absolute;
    width: 50vw;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 17%;
    text-shadow: black 2px 2px 2px;
}

.titulos-index:hover{
    position: absolute;
    width: 98vw;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin-top: 17%;
}

.titulos-index-v2:hover{
    position: absolute;
    width: 50vw;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 17%;
    font-weight: bold;
}

.rotatein:hover{
    animation: rotatein 2s;
}