@media (max-width: 421px){
    .cardpk{
        width: 95%;
    }
    
    .map-mk{
        max-width: 90%;
    }

    .footer{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        justify-content: space-evenly
    }

    .footer_div{
    width: fit-content;
    }

    .footer-li-mq{
        display: none;
    }

    .h5-redes{
        display: none;
    }

    .card-text-hide{
        display: none;
    }

    .img-mdw-card{
        display: none;
    }

    .p-compra{
        display: none;
    }

    .h5-exp-disney{
        font-size: x-small;
    }

    .text-compra-p{
        display: none;
        padding-top: 14vw;
    }

    .btn-carrito{
        font-size: x-small;
    }

    .text-compra-p{
        display: none;
    }
}

@media (max-width: 1115px){
    .text-compra{
        font-size: small;
        padding-top: 10vw;
    }

    .img-mb{
        display: none;
    }

    .text-compra-p{
        font-size: smaller;
        padding-top: 14vw;
    }

    .btn-carrito{
        font-size: smaller;
    }

    .btn-aside{
        font-size: smaller;
    }

    .text-body-secondary{
        display: none;
    }

    //Restaurantes

    .rest-map{
        display: none;
    }

    .list-rest-item{
        width: 70vw;
        padding: 2%;
    }

    hr{
        width: 50%;
    }

    .title-rest{
        font-size: small;
    }

    .p-descr-rest{
        display: none;
    }

    .btn-mq-rest{
        font-size: smaller;
        width: 30vw;
    }

    .rest-descr{
        width: 50vw;
    }

    .img-card-park{
        display: none;
    }
}