.container-fluid{
    flex-wrap: nowrap !important;
}

.logo-white{
    width: 20%;
}

.form-control{
    background-color: white;
}

.form-control:not(:active){
    background-color: white;
}

.form-control:active{
    background-color: white;
}

.logo-mdw-nav{
    width: 1.9vw;
}

.logo-mdw-nav:hover{
    width: 1.8vw;
}

.nav-link:hover{
    font-weight: bold;
}