.logo-white{
    width: 20%;
}

.form-control{
    background-color: white;
}

.form-control:not(:active){
    background-color: white;
}

.form-control:active{
    background-color: white;
}

.logo-mdw-nav{
    width: 25%;
}

.logo-mdw-nav:hover{
    width: 24%;
}

.nav-link:hover{
    font-weight: bold;
}