.top-banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.img-mk-htl{
    width: 100%;
}

.h1-mk{
    margin-top: 2%;
}

.parks-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parks-mk-h4{
    font-family: magic-kingdom;
    text-align: center;
    color: rgb(85, 131, 200);
    font-size: 5vw;
}

.h5-htl{
    text-align: center;
    margin: 2%;
    font-weight: bold;
}

.car-width{
    width: 60vw;
}

.img-card-park{
    width: 40vw;
}

.card-width{
    width: 80vw;
    padding: 2vw;
}

.card-experiencias{
    display: flex;
    align-items: center;
    padding: 2vw;
    background-color: rgb(85, 131, 200);
    border-radius: 10px;
    color: white;
}

.title-experience{
    font-weight: bold;
    color: white;
}

.p-card-park{
    font-size: larger;
    padding: 2vw;
    margin: 1vw;
    border: dotted white 1px;
}

.a-parks{
    color: white;
}

.a-parks:hover{
    color: white;
    font-weight: bold;
}

.parks-ak-h4{
    font-family: animal-kingdom;
    text-align: center;
    font-size: 3vw;
    color: rgb(65, 126, 65);
}

.card-experiencias-ak{
    display: flex;
    align-items: center;
    padding: 2vw;
    background-color: rgb(82, 120, 73);
    border-radius: 10px;
    color: white;
}