$animalktitle: #487d48;
$animalk: #86ba86;
$magick: rgb(193, 220, 254);
$epcot: rgb(165, 165, 165);
$hollywoods: rgb(177, 15, 15);
$waltdisney: #1c468e;
$magicktitle: rgb(17, 125, 180);
$btncolorblue: #0303cc;
$btncolorlgblue: rgb(17, 125, 180);
$btncolorlgbluehover: rgb(13, 104, 149);